 <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse" title="This Header is rendered by /app/_layout/site-header/site-header.component.html">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Training Proejct</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Announce Training</a>
          </li>

         <li class="nav-item">
            <a class="nav-link" routerLink="/about">Training List</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Approve trainee</a>
          </li> 

           <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Approved trainee List </a>
          </li>
        </ul>
      </div>
    </nav>
    <style>
.bg-inverse {
    background-color: #e60001!important;
}

      </style>